<!DOCTYPE html>
<html data-url-prefix="{{ url_prefix }}">
<head>
  <title>View</title>
  <link rel="stylesheet" href="{{ url('static', 'css/style_common.css') }}">
  <script src="{{ url('static', 'js/base.js') }}" defer></script>
</head>
<body>
  <div class="header-container">
    <button class="back-btn" onclick="goBack()">← Back</button>
    <h2>View</h2>
    <button class="home-btn" onclick="goHome()">🏠Home</button>
  </div>
  
  <form method="GET" action="{{ url('search_word') }}">
    <button type="submit">Search word</button>
  </form>

  <form method="GET" action="{{ url('view_words') }}">
    <button type="submit">View words</button>
  </form>


  <form method="GET" action="{{ url('view_books') }}">
    <button type="submit">View books</button>
  </form>


</body>
</html>
