body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}

h2 {
  align-items: center;
  font-style: normal;
  color: darkblue;
}

/* Make default button selectors Rounded Rectangle, black border, white box, in center */
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

/* ================== File input ================== */
.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  width: 450px;
  margin: 10px auto;
  border: 1px solid #000;
}

#fileName {
  width: 350px;
  margin: 7px auto;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

/* Make the file submit button stick to right side of file-info box */
button#fileSubmit {
  margin-right: 7px;
}


/* ================== String input ================== */
.form-row {
  width: 500px;
  display: flex;
  align-items: flex-start; /* top-align label and textarea */
  margin: 10px auto;
}

.label-left {
  width: 60px;       /* adjust label column width */
  margin: 15px 5px auto auto;
}

input[type="text"], textarea {
  flex: 1;           /* take up the rest of the row */
  font-family: "Courier New", monospace;
  font-size: 16px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px auto;
}

textarea {
  width: 400px;
  height: 250px;
  resize: none;          /* fixed size */
  white-space: pre-wrap; /* wrap long lines */
  overflow-y: auto;      /* scroll vertically */
  display: block;
}

/* ================= Search word ====================== */
.form-search-word-box {
  width: 250px;
  margin: 20px auto;
}

.form-search-word-group {
  /* spacing with limit group */
  margin-bottom: 15px;
}

/* For both Enter Word and Search Limit labels */
.form-search-word-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
    
.form-search-word-group input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.limit-search-word-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.limit-search-word-group input[type="number"] {
  width: 80px;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 16px;
}

.limit-search-word-group span {
  font-size: 14px;
}

/* Search word result box and items */
#showRes ul {
  list-style-type: none;   /* removes bullets */
  max-width: 300px;
  margin: 20px auto;
  padding-left: 50px;
}

#showRes li {
  text-align: left;        /* line text up on the left */
  margin: 4px 0;
}
