# DB
DB_USER=postgres
DB_PASS=password
DB_HOST=postgres    # 'localhost' for dev at local
DB_PORT=5432        # default port

# Auth
SECRET_KEY=your-secret-key-for-jwt-encode-decode

# Redis
REDIS_URL=redis://redis:6379/0  # 'redis://localhost:6379/0' for dev at local
