<!doctype html>
<html data-url-prefix="{{ url_prefix }}">
<head>
  <title>Quiz</title>
  <link rel="stylesheet" href="{{ url_for('main_ep.static', filename='css/style_common.css') }}">
  <link rel="stylesheet" href="{{ url_for('main_ep.static', filename='css/quiz/quiz_jp.css') }}">
  <script src="{{ url_for('main_ep.static', filename='insert.js') }}" defer></script>
  <script src="{{ url_for('main_ep.static', filename='base.js') }}" defer></script>
</head>
<body>
  <div class="header-container">
    <button class="back-btn" onclick="goBack()">← Back</button>
    <h2>Quiz JP -> EN</h2>
    <button class="home-btn" onclick="goHome()">🏠Home</button>
  </div>

  <form id="quizJPForm" method="GET" action="{{ url_for('main_ep.quiz_jp') }}">
    
  </form>
  
  <h2>W?</h2>
  <form method="POST" action="{{ url_for('main_ep.quiz_check') }}">
      <input type="text" name="answer">
      <button type="submit">Submit</button>
  </form>
</body>
</html>